<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#{title}</title>

    <!-- <link rel="stylesheet" href="../bootstrap-5.2.1-dist/css/bootstrap.css"> -->
    <!-- <script src="../bootstrap-5.2.1-dist/js/bootstrap.bundle.min.js"></script> -->

    style 
        include ../bootstrap-5.2.1-dist/css/bootstrap.css
    
    style 
        include ../static/style.css

    script
        include ../bootstrap-5.2.1-dist/js/bootstrap.bundle.min.js
</head>
<body >
    <nav class="navbar text-white-50 navbar-expand-lg navbar-light bg-dark nav-color">
        <div class="container-fluid text-white">
          <a class="navbar-brand text-white" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse text-white" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-white">
              <li class="nav-item text-white">
                <a class="nav-link active text-white" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item text-white">
                <a class="nav-link text-white" href="#">Link</a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link disabled text-white" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
              </li>
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success text-white" type="submit">Search</button>
            </form>
          </div>
        </div>
    </nav>

    <center>

        <div class="container m-3">
            <h1>Fill this registration form</h1>
        <form class="m-3" action="/" method="post">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">First Name</label>
              <input type="text" class="form-control w-25"name="fname" id="fname" aria-describedby="emailHelp">
              <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Last Name</label>
              <input type="text" class="form-control w-25" name="lname" id="lname">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Age</label>
              <input type="number" class="form-control w-25" name="age"  id="age">
            </div>
            <div class="mb-3"> 
              <label for="exampleInputPassword1" class="form-label">Description</label>
              <!-- <input type="password" class="form-control w-25" id="exampleInputPassword1"> -->
              <textarea name="desc" id="desc" class="form-control w-25" cols="10" rows="10"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        </div>

    </center>

</body>
</html>