<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#{title}</title>

    <!-- <link rel="stylesheet" href="../bootstrap-5.2.1-dist/css/bootstrap.css"> -->
    <!-- <script src="../bootstrap-5.2.1-dist/js/bootstrap.bundle.min.js"></script> -->

    style 
        include ../bootstrap-5.2.1-dist/css/bootstrap.css
    
    style 
        include ../static/style.css

    script
        include ../bootstrap-5.2.1-dist/js/bootstrap.bundle.min.js
</head>
<body >
    <nav class="navbar text-white-50 navbar-expand-lg navbar-light bg-dark nav-color">
        <div class="container-fluid text-white">
          <a class="navbar-brand text-white" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse text-white" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-white">
              <li class="nav-item text-white">
                <a class="nav-link active text-white" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item text-white">
                <a class="nav-link text-white" href="#">Link</a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link disabled text-white" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
              </li>
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success text-white" type="submit">Search</button>
            </form>
          </div>
        </div>
    </nav>

    <center>
        //- <div class="card" style="width: 18rem;">
        //- <div class="card-body">
        //- <h5 class="card-title">Card title</h5>
        //- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
        //- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        //- <a href="#" class="card-link">Card link</a>
        //- <a href="#" class="card-link">Another link</a>
        //- </div>
        //- </div>

        | infocard
    </center>

</body>
</html>