doctype html

html
    head 
        title Dance Website Contact Page
        block scripts 
        block style 
    
    body  
        nav#navbar.navbar.navbar-expand-lg.navbar-light.bg-primary 
            div.container-fluid
                a.navbar-brand.text-white(href="/home") Navbar
                //- button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
                //- span.navbar-toggler-icon
                //- div.collapse.navbar-collapse#navbarNav
                ul.navbar-nav 
                    li.nav-item 
                        a.nav-link.active.text-white(href="/home") Home
                    li.nav-item 
                        a.nav-link.active.text-white(href="/home") About
                    li.nav-item 
                        a.nav-link.active.text-white(href="/contact") Contact

        block content 

    block foot